<!DOCTYPE html>
{% if chats %}
    {% for chat in chats %}
        {% if chat.name == chat_name %}
            <a href="{% url 'chat:chatroom' chat.slug%}" class="list-group-item list-group-item-action active">
        {% else %}
            <a href="{% url 'chat:chatroom' chat.slug%}" class="list-group-item list-group-item-action">
        {% endif %}
                
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-truncate">{{chat.name}}</h5>
                </div>
                <small class="d-flex justify-content-between fw-lighter text-truncate">{{chat.description}}</small>
            </a>
    {% endfor %}
{% else %}
    <li class="list-group-item list-group-item-info">You are in no chats.</li>
{% endif %}

            
        
