<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MyChat - 
        {% block title_block %}
            Main Page
        {% endblock %}
        </title>
        <link href="{% static 'styles/base.css' %}" rel="stylesheet">
        {% block includes_block %}
        {% endblock %}
    </head>
    <body>
        {% block body_block %}
        {% endblock %}
    </body>
</html>
