{% extends 'chat/base.html' %}
{% load staticfiles %}
{% load static %}
{% load chat_template_tags %}

{% block title_block %}

    {% block title_block_2 %}

    {% endblock %}

{% endblock %}

{% block includes_block %}
    {% block includes_block_2 %}
    {% endblock %}
{% endblock %}

{% block body_block %}
    
        <nav class="navbar navbar-dark" style="background-color: #91b1f7;">
            <div class="container-fluid">
                    <a class="navbar-brand" href="/chat/">
                        <img src="{% static 'images/no_words_logo.png' %}" alt="logo" width="50px" height="auto" class="d-inline-block align-text-center">
                        MyChatGla
                    </a>
                <div class="d-flex">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn btn btn-outline-light navbutton">Profile</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a class = "links" href="{% url 'chat:profile' %}">Settings</a>
                            <a  class = "links" href="{% url 'chat:logout' %}">Sign Out</a>
                        </div>
                        </div>
                </div>
            </div>
            </nav>
            <main class="h-100">
            <div class="container-fluid h-100">
                <div class="row row-tall h-100" style = "background-image: url('static/images/no_words_logo.png')">
                    <div class="col col-2 d-none d-md-block bg-primary h-100">
                        <div class="list-group pt-3 h-75 overflow-scroll">
                            {% get_chat_list request chat_name %}
                        </div>
                        <div class="list-group mt-3">
                            <a id="createChatButton"href="{% url 'chat:create' %}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-truncate">Create Chat</h5>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col pt-3">
                        <div class="alert alert-primary" role="alert">
                            <h1 class="fs-3">
                            {% block content_title %}
                            {% endblock %}
                            </h1>
                        </div>
                                    <script>/* When the user clicks on the button, 
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
                }
                
                // Close the dropdown if the user clicks outside of it
                window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                    }
                }
            }</script>
    {% block body_block_2 %}
    {% endblock %}
{% endblock %}
