{% extends 'chat/roomtemplate.html' %}
{% load staticfiles %}

{% block title_block %}
{{chat_name}}
{% endblock %}

{% block content_name %}
- Home
{% endblock %}
{% block content_block %}
{{ this_username|json_script:"this-username" }}
{{ chat_name_slug|json_script:"chat-slug" }}
<body>
    <div class="row h-100" style = "overflow: scroll;" id="messageListContainer">
        <div class="col h-100 w-100 position-relative">
            <div id="messagesList" class="d-block chat-message-list h-100 w-100">
            </div>
        </div>
    </div>
    <div class="input-group mb-5 bottom-0 w-100 d-flex">
        <input type="text" class="form-control" placeholder="Your message here" id="message-input">
        <button class="btn btn-outline-secondary" type="button" id="send-button"><i class="bi bi-send-fill"></i></button>
      </div>
    <script>
        // Must define these consts here so they can be accessed
        // by the external script
        const username = "{{this_username|escapejs}}";
        const slug = "{{chat_name_slug|escapejs}}";
    </script>
    <script src="{% static 'js/chat.js'%}"></script>
</body>
{% endblock %}
