<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load chat_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MyChat - 
        {% block title_block %}
        {% endblock %}
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">       </title>
        <link href="{% static 'styles/base.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        {% block includes_block %}
        {% endblock %}
    </head>
    <body class="overflow-hidden">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <nav class="navbar navbar-dark" style="background-color: #91b1f7;">
            <div class="container-fluid">
                    <a class="navbar-brand" href="/chat/">
                        <img src="{% static 'images/no_words_logo.png' %}" alt="logo" width="50px" height="auto" class="d-inline-block align-text-center">
                        MyChatGla
                    </a>
                <div class="d-flex">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn navbutton">Profile</button>
                        <div id="myDropdown" class="dropdown-content">
                          <a class = "links" href="{% url 'chat:profile' %}">Settings</a>
                          <a  class = "links" href="{% url 'chat:logout' %}">Sign Out</a>
                        </div>
                      </div>
                </div>
            </div>
          </nav>
          <main>
            <div class="container-fluid">
                <div class="row row-tall h-100" style = "background-image: url('static/images/no_words_logo.png')">
                    <div class="col-md-2 my-col chat-col mh-100">
                        <h2 class="text-center" style="color:white;">
                            My Chats
                        </h2>
                        <ul style = "list-style-type: none; margin:0;padding:0;">

                            {% get_chat_list request current_chat %}

                            <span class="line"></span>
                            <a href="{% url 'chat:create' %}"><li class = "urlbuttons">Create Chat</li></a>
                          </ul>
                    </div>
                    <div class="col-md-10 my-col content-col mh-100">
                        <div class="alert alert-info" role="alert">
                            {% block content_title %}
                            {% endblock %}
                        </div>
                        {% block body_block %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </main>
            <script>/* When the user clicks on the button, 
              toggle between hiding and showing the dropdown content */
              function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
              }
              
              // Close the dropdown if the user clicks outside of it
              window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                  var dropdowns = document.getElementsByClassName("dropdown-content");
                  var i;
                  for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                    }
                  }
                }
              }</script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   <body>
    </body>
</html>
