{% extends 'chat/base.html' %}
{% load staticfiles %}
{% load static %}
{% load chat_template_tags %}


{% block body_block %}
    
        <nav class="navbar navbar-dark" style="background-color: #91b1f7;">
            <div class="container-fluid">
                    <a class="navbar-brand" href="/chat/">
                        <img src="{% static 'images/no_words_logo.png' %}" alt="logo" width="50px" height="auto" class="d-inline-block align-text-center">
                        MyChatGla
                    </a>
                <div class="d-flex">
                    <form class="d-flex" method="POST" action="{% url 'chat:search_profiles' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" 
                        type="search" placeholder="Search Profiles" aria-label="Search"
                        name = "searched">
                        <button class="btn btn-outline-light me-1" type = "submit">Search</button>
                    </form>
                    <a id="createChatButton" href="{% url 'chat:create' %}" class="btn btn-outline-light me-1">
                        <i class="bi bi-plus-lg"></i> Create
                    </a>
                    <div class="dropdown">
                        <a class="btn btn-outline-light" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-fill"></i> Profile
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'chat:profile' %}">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'chat:logout' %}">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    <main style = "height:100%;">
        <div class="container-fluid h-100">
            <div class="row row-tall h-100" style = "background-image: url('static/images/no_words_logo.png')">
                <div class="col col-2 d-none d-md-block bg-primary h-100">
                    <div class="list-group pt-3 h-75 overflow-scroll">
                        {% get_chat_list request chat_name %}
                    </div>
                </div>
                <div class="col ps-0 pe-0 h-100">
                    <div class="pt-3 ps-3 pe-3 pb-0 navbar navbar-expand-lg bg-tertiary" style="background-color:var(--bs-tertiary);">
                        {% block content_title %}
                        {% endblock %}
                    </div>

                    <div class="container-fluid p-3 h-75">
                    {% block content_block %}
                    {% endblock %}
                    </div>
                </div>
        </div>
    </main>
{% endblock %}
