{% extends 'chat/chattemplates.html' %}
{% load staticfiles %}

{% block title_block %}
{{chat_name}}
{% endblock %}

{% block includes_block %}
{% endblock %}

{% block content_title %}
{{chat_name}}
<div class="btn-group float-right" role="group" aria-label="Chat Buttons">
  <button type="button" class="btn btn-primary">Members</button>
  <button type="button" class="btn btn-primary">Files</button>
  <button type="button" class="btn btn-primary" formaction="{% url 'chat:leave' chat_slug_name %}">Leave Chat</button>
</div>
{% endblock %}
{% block body_block %}
{{ this_username|json_script:"this-username" }}
<body>
    <div class="row row-tall h-100">
        <div class="col h-100">
            <div class="chat-message-list">
            {% for m in messages %}
                {% if m.sender.user.username == this_username %}
                <div class="message-container" style="display:flex; justify-content:end">
                    <div class="message" style="float:right">
                {% else %}
                <div class="message-container" style="display:flex; justify-content:start">
                    <div class="message" style="float:left">
                {% endif %}
                    {{m.sender}}: {{m.content}}
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="input-group mb-5 position-sticky">
              <input type="text" class="form-control" placeholder="Your message here" aria-label="Message" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
            </div>
        </div>
    </div>
</body>
{% endblock %}
