{% extends 'chat/chattemplates.html' %}
{% load staticfiles %}

{% block title_block %}
{{chat_name}}
{% endblock %}

{% block content_title %}
<nav class="navbar bg-tertiary w-100">
  <div class="container-fluid">
      <h2 class="text-light" href="#">{{chat_name}}</h2>
    <div class="d-flex" id="navbarText">
      <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'chat:chatroom' chat_name_slug%}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'chat:members' chat_name_slug %}">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'chat:files' chat_name_slug %}">Files</a>
        </li>
{% if current_user == owner %}
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'chat:delete' chat_name_slug %}">Delete</a>
        </li>
{% else %}
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'chat:leave' chat_name_slug %}">Leave</a>
        </li>
{% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content_block %}
{{ this_username|json_script:"this-username" }}
{{ chat_name_slug|json_script:"chat-slug" }}
<body>
    <div class="row h-100">
        <div class="col h-75 w-100 position-relative">
            <div id="messagesList" class="d-block chat-message-list h-75 w-100 overflow-scroll scrollable">
            </div>
            <div class="input-group mb-5 bottom-0 w-100 d-flex">
              <input type="text" class="form-control" placeholder="Your message here" id="message-input">
              <button class="btn btn-outline-secondary" type="button" id="send-button">Send</button>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            updateMessages();
            window.setInterval(updateMessages, 1000);
            $("#send-button").click(function() {
                let username = "{{this_username|escapejs}}";
                let slug = "{{chat_name_slug|escapejs}}";
                let content = $("#message-input").val();
                $.get('send_message', {'content':content,'username':username,'chat_slug':slug}, updateMessages);
            });
        });

        function updateMessages() {
            let slug = "{{chat_name_slug|escapejs}}";
            $.get('get_messages',
                {'chat_slug':slug},
                function(data) {
                    let messages = JSON.parse(data);
                    let messagesList = $("#messagesList");
                    messagesList.empty();
                    for(let i=0; i < messages.length; i++) {
                        m = document.createElement("li");
                        messages[i].content;
                        m.textContent=messages[i].sender+":"+messages[i].content;
                        messagesList.append(m);
                    }
                });
        }

    </script>
</body>
{% endblock %}
