{% extends 'chat/base.html'%}
{% load staticfiles %}

{% block title_block %}
    View chats
{% endblock %}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/create.css' %}">
{% endblock %}

{% block body_block %}
<main>
  <!-- Nav Bar -->
  <ul class="navbar">
  <li id = "LHS"><strong>MyChat</strong></li>
  <li id  = "RHS"><a href="{% url 'chat:login' %}">Sign out</a></li>
  </ul>

<div class="grid-container-element">
<div class="gird-child-mychats">
      <h2 style = "color: white;">MyChats</h2>
<!-- Insert list of chats student is in -->
<ul style = "list-style-type: none; margin:0;padding:0;">
  <!-- when known repeat add here  -->
  <li class = "urlbuttons"><a href="#">Example1</a></li>
  <li class = "urlbuttons"><a href="#">Example 2</a></li>
  <li style = "text-align: center; color:white">__________________________________</li>
   <!-- end repeat -->
</ul>

</div>
    <div class="gird-child-createchat">
      <h1>Create New Chat</h1>
      <div class="container">
        <div class="Memebers-added">Members added
          <ul style = "list-style-type: None;padding:0;margin:0">
            <li class = "memberbox">Display Name</li>
            <li class = "memberbox">Display Name</li>
            <li class = "memberbox">Display Name</li>
            <li class = "memberbox">Display Name</li>
          </ul>
        </div>
        <div class="Chat-title">Chat Name<br>
          <input type="text" id="chat_name" name="chat_name" class = "urlbuttons">
        </div>
        <div class="chat-description">Chat Descrption<br>
          <input type="text" id="chat_des" name="chat_des" class = "urlbuttons"></div>
        <div class="Add-memebers"><label>Add Member</label><br>
          <div>
            <div class ="searchbar" style = "display: inline;">
              <input type="text" id="membername" name="membername" class = "urlbuttons">
            </div>
            <div class = "urlbuttons" style = "display: inline;">+</div>
            </div>

        </div>
        <div class="chats-image">Upload Image<br>
          <input type="file" id="myFile" name="filename">
        </div>
        <div class = "urlbuttons">Create Chat</div>
    </div>

</main>
{% endblock %}