{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    Create chats
{% endblock %}

{% block includes_block %}
<style>
.box-size{
  height:fit-content;
  width:55rem;
  border:2px solid #91b1f7;
  border-radius: 20px;
  padding:15px;
  background-color: #91b1f7;
  color:#fff;
}
.center{
  height: 25vh;
  width: 300px;
  position: relative;
}
.box {
  color:white;
  background-color: var(--main-col);
  border-radius: 20px;
  width:80%;
  margin-top: 2rem;
}
.mycol{
  background-color: #ffff;
  color:#91b1f7;
  padding: 10px;
  padding-left:15px;
  padding-right:15px;
  border-radius: 10px;
}
.lists{
  list-style-type: none;
   margin:0;padding:0;
    height:100px;
    overflow:hidden; overflow-y:scroll;
}
.Memebers-added { grid-area: Memebers-added; }

.Chat-title { grid-area: Chat-title; }

.chat-description { grid-area: chat-description; }

.Add-memebers { grid-area: Add-memebers; }

.chats-image { grid-area: chats-image;}

.Create { grid-area: Create;
text-align: center; }


  </style>
{% endblock %}

{% block content_title %}
Create New Chat
{% endblock %}


{% block body_block %}

<div class="container-fluid p-2 g-2 box">
  <div class="row g-5 justify-content-center align-items-top myrows mb-3">
    <div class="col">
      <div class = "mycol">Members added
        <div>
          <ul class = "lists" style = "list-style-type: none; margin:0;padding:0; height:12rem;">
            <li>David</li>
            <li>David</li>
            <li>David</li>
            <li>David</li>
            <li>David</li>
            <li>David</li>
            <li>David</li>
          </ul>
        </div>
      </div>
      </div>
    <div class="col">
      <div class="container-fluid" style="padding:0px;">
        <div class = "mycol" style="margin-bottom:10px;">
          <div class="mb-3">
          <label for="ChatName" class="form-label">Chat Name</label>
          <input type="text" class="form-control" id="ChatName" placeholder="Enter Chat Name">
        </div>
      </div>
        <div class = "mycol">
          <div class="mb-3">
            <label for="Chat-title" class="form-label">Chat Description</label>
            <input type="text" class="form-control" id="title" placeholder="Enter Chat Description">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-6 justify-content-center align-items-top myrows mb-3">
    <div class="col mb-3">
      <div class="mycol">
        <label for="ChatName" class="form-label">Add Member</label>
        <div class="input-group">
          <select class="form-control" id="inputGroupSelect04" aria-label="Example select with button addon" style = "padding-right: 100px;">
            <option selected>Choose which Member</option>
            <option value="1"> query database</option>
            <option value="2">query database</option>
            <option value="3">query databasee</option>
          </select>
        </div>
        <button class="btn btn-light urlbuttons" type="button">Add</button>
      </div>
    </div>
    <div class="col">
      <div class = "mycol">
      <label for="UploadImage" class="form-label">Upload Background Image</label>
      <input class="form-control form-control-lg" id="UploadImage" type="file">
    </div>
  </div>
  </div>
  <div class="row justify-content-center align-items-top myrows mb-3">
    <div class="col-1 justify-content-center align-items-center">
      <button class="btn btn-light urlbuttons" type="button" style="position: relative;">Create</button>
    </div>
  </div>
</div>
{% endblock %}