{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    Create chats
{% endblock %}

{% block content_title %}
<h2 class="text-light"> Create New Chat </h2>
{% endblock %}


{% block content_block %}
<div class="container m-3 createBox p-3">
<form id="user_form" method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
<div class="container-fluid p-2 g-2 box bg-primary w-75 rounded">
  <div class="row g-5 justify-content-center align-items-top myrows mb-3 ">
    <div class="col p-2">
      <div class = "col overflow-scroll scrollable p-2 ms-2 text-light" style="height:12rem">Members added
          <ul class = "list-group" id="memberList"></ul>
      </div>
      </div>
    <div class="col">
      <div class="container-fluid backgroundbox p-2">
        <div class = "row mb-2">
          <div class="mb-3">
          <label for="ChatName" class="form-label text-light">Chat Name</label>
          <input type="text" class="form-control" id="ChatName" name="name" placeholder="Enter Chat Name" required>
        </div>
      </div>
        <div class = "row mb-2">
          <div class="mb-3">
            <label for="Chat-title" class="form-label text-light" >Chat Description</label>
            <input type="text" class="form-control" name="description" id="title" placeholder="Enter Chat Description" required>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row g-6 justify-content-center align-items-top myrows mb-3">
    <div class="col mb-3 p-2">
      <div class="mycol backgroundbox p-2">
        <label for="ChatName" class="form-label text-light">Add Member</label>
        <div class="input-group mb-3">
          <input type="text" id="memberInput" class="form-control" placeholder="Enter Member Name">
          <button class="btn btn-primary" type="button" id="addMemberButton">Add</button>
        </div>
        <input type="hidden" id="memberListInput" name="user_list" value="">
        {% for user in all_users %}
            <input type="hidden" name="users" value="{{ user.id }}">
        {% endfor %} 
        <input type="hidden" name="owner" value="{{ request.user.userprofile.id }}"> 
        <script>
            const USERS = '{{usernames|escapejs}}';
            const CURR_USER = '{{current_user|escapejs}}';
        </script>
        <script src="{% static 'js/createChat.js'%}"></script>

      </div>
    </div>
    <div class="col p-2">
      <div class = "mycol backgroundbox p-2">
        <label for="UploadImage" class="form-label text-light">Upload Background Image</label>
        <input class="form-control" name="image" id="UploadImage" type="file">
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-top myrows mb-3">
    <div class="col-1 justify-content-center align-items-center">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </div>
</div>
</form>
</div>
{% endblock %}
