{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block_2 %}
    Files
{% endblock %}

{% block includes_block_2 %}

{% endblock %}

{% block content_title %}
    {{chat_name}} - Files
    {% if current_user == owner %}
<div class="btn-group float-right" role="group" aria-label="Chat Buttons">
    <a class="btn btn-primary" href="{% url 'chat:chatroom' chat_name_slug %}">Home</a>
    <a class="btn btn-primary" href="{% url 'chat:members' chat_name_slug %}">Members</a>
    <a class="btn btn-primary" href="{% url 'chat:files' chat_name_slug %}">Files</a>
    <a class="btn btn-primary" href="{% url 'chat:delete' chat_name_slug %}" onclick = "return confirm('Are you sure you want to delete?')">Delete Chat</a>
</div>
{% else %}
<div class="btn-group float-right" role="group" aria-label="Chat Buttons">
    <a class="btn btn-primary" href="{% url 'chat:chatroom' chat_name_slug %}">Home</a>
    <a class="btn btn-primary" href="{% url 'chat:members' chat_name_slug %}">Members</a>
    <a class="btn btn-primary" href="{% url 'chat:files' chat_name_slug %}">Files</a>
    <a class="btn btn-primary" href="{% url 'chat:leave' chat_name_slug %}" onclick = "return confirm('Are you sure you want to leave?')">Leave Chat</a>
</div>
{% endif %}
{% endblock %}

{% block body_block_2 %}
{% if current_user == owner %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class ="btn btn-secondary" />
</form>

{% endif %}
{% if files %}
    {% for file in files %}
        <p>
            {{ file }}
            <a href="{{ MEDIA_URL }}{{ file.data }}" download>Download</a>
        </p>
    {% endfor %}
{% else %}
    There are currently no files.
{% endif %}
{% endblock %}