{% extends 'chat/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock%}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/auth.css' %}">
{% endblock %}

{% block body_block %}
<div class="card">
    <span class="cardtitle">MyChatGLA</span>
    <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Username</label>
    </div>
        <div class="input-group">
        <input required="" type="password" name="text" autocomplete="off" class="input">
    <label class="user-label" >Password</label>
    </div>

    <div>
        <button class="sign-up"> <span>Log in</span></button>
    </div>
    <div>
        <span class="text">Don't have an account? <a href="">Sign up.<a></span>
    </div>
</div>
{% endblock %}
