{% extends 'chat/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock%}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/auth.css' %}">
{% endblock %}

{% block body_block %}
<form id="login_form" method="post" action="{% url 'chat:login' %}">
{% csrf_token %}
<div class="container text-center">
    <div class="card form-signin m-auto align-middle floating">
        <span class="cardtitle">MyChatGLA</span>
        <div class="input-group">
            <input required="" type="text" name="username" autocomplete="off" class="input depressed">
            <label class="user-label">Username</label>
        </div>
            <div class="input-group">
            <input required="" type="password" name="password" autocomplete="off" class="input depressed">
        <label class="user-label" >Password</label>
        </div>

        <div class="input-group">
            <button class="sign-up raised"> <span>Log in</span></button>
        </div>
        <div class="help-text-container">
            <span class="login-text">Don't have an account? <a href="{% url 'chat:signup' %}">Sign up.<a></span>
        </div>
    </div>
</div>
</form>
{% endblock %}
