{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    View chats
{% endblock %}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/mainpage.css' %}">
{% endblock %}

{% block content_title %}
  Create New Chat
{% endblock %}
{% block body_block %}
    <div class="gird-child-myclasses">
      <div class = "grid_myClasses">
        <!-- Repeat here for classes -->
        <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <!-- end repeat -->

        <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      <a href="#">
        <div class = "grid-child-myclassicon">
          <div class = "imagebackground"><img src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat"></div>
          <div class = classname>Class name </div>
        </div>
      </a>
      
      </div>
    </div>
  </div>
{% endblock %}

