{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    View chats
{% endblock %}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/mainpage.css' %}">
{% endblock %}

{% block content_title %}
    My Chats
{% endblock %}
{% block body_block %}
    <div class="gird-child-myclasses">
      <div class = "grid_myClasses">

        {% if chats %}
            {% for chat in chats %}
            <a href="{% url 'chat:chatroom' chat.slug %}">
              <div class = "grid-child-myclassicon">
                <div class = "imagebackground">
                  {% if chat.image %}
                  <img  class = "imgchat" src = "{{chat.image}}" alt = "chat image">
                  {% else %}
                  <img  class = "imgchat" src = "{% static 'images/classhat.jpg' %}" alt = "teacher hat">
                  {% endif %}
                </div>
                <div class = classname>{{ chat.name }}</div> 
              </div>
            </a>
            {% endfor %}
        {% else %}
            You are in no chats.
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}

