{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    View chats
{% endblock %}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/mainpage.css' %}">
{% endblock %}

{% block content_title %}
    <h2 class="text-light">
    My Chats
    </h2>
{% endblock %}

{% block content_block %}
    <div class="container text-center">
      <div class = "row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">

        {% if chats %}
            {% for chat in chats %}
            <a href="{% url 'chat:chatroom' chat.slug %}">
              <div class = "col">
                <div class="card bg-primary text-light p-2 mr-1 mb-2 h-25">
                    {% if chat.image %}
                    <img  class = "card-img-top rounded object-fit-cover" width="200" height="150" src = "{{chat.image.url}}" alt = "chat image">
                    {% else %}
                    <img  class = "card-img-top rounded object-fit-cover" width="200" height="150" src = "{% static 'images/logo.png' %}" alt = "teacher hat">
                    {% endif %}
                    <div class ="card-body">
                        <p class="card-text text-truncate">{{ chat.name }}</p>
                    </div>
                  </div>
              </div>
            </a>
            {% endfor %}
        {% else %}
            You are in no chats.
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}

