{% extends 'chat/roomtemplate.html'%}
{% load staticfiles %}

{% block title_block %}
    Members
{% endblock %}

{% block includes_block %}
<script src="{% static 'js/addMember.js' %}"></script>
{% endblock %}

{% block content_name %}
- Members
{% endblock %}

{% block content_block %}

<div style="margin-right: 5rem;">
    <div class="container-fluid outerbox">
        <div class="row justify-content-center align-items-top g-2">
            <div class = "col colpadding">
                <div class="membercol">
                    {% if current_user == owner %}
                        <label for="ChatName" class="form-label">Add Member</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="memberInput" placeholder="Enter Member Username">
                            <button type="button" id="addMemberButton" class="btn btn-primary" onclick="addMember()" id="addMemberButton">Add</button>
                        </div>
                    
                    {% else %}

                    <h2>Only Owners can add new members</h2>
                    <p>If you would like to add someone.<br>Please contact {{ owner }}</p>
                    {% endif %}
                    
                </div>
            </div>


            <div class="col colpadding">
                <h3>Owner: </h3>
                <ul class="list-group">
                    <li class="list-group-item">{{ owner.display_name }} ({{owner}})</li>
                </ul>
                <h5>Members </h5>
                <ul class="list-group scrollable">
                    {% for user in chat_members %}
                        {% if user != owner %}
                        <li class="list-group-item">
                            {{ user.display_name }} ({{user}}) {% if current_user == owner %}<a class="btn btn-close float-end" href="{% url 'chat:remove_member' chat_name_slug=chat_name_slug username=user.user.username %}"></a> {% endif %}
                        </li>
                        {%endif%}
                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
