{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    Members
{% endblock %}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/mainpage.css' %}">
{% endblock %}

{% block content_title %}
{{chat_name}} - Members
{% if current_user == owner %}
<div class="btn-group float-right" role="group" aria-label="Chat Buttons">
    <a class="btn btn-primary" href="{% url 'chat:members' chat_name_slug %}">Members</a>
    <a class="btn btn-primary" href="{% url 'chat:files' chat_name_slug %}">Files</a>
    <a class="btn btn-primary" href="{% url 'chat:delete' chat_name_slug %}" onclick = "return confirm('Are you sure you want to delete?')">Delete Chat</a>
</div>
{% else %}
<div class="btn-group float-right" role="group" aria-label="Chat Buttons">
    <a class="btn btn-primary" href="{% url 'chat:members' chat_name_slug %}">Members</a>
    <a class="btn btn-primary" href="{% url 'chat:files' chat_name_slug %}">Files</a>
    <a class="btn btn-primary" href="{% url 'chat:leave' chat_name_slug %}" onclick = "return confirm('Are you sure you want to leave?')">Leave Chat</a>
</div>
{% endif %}
{% endblock %}

{% block body_block %}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center g-2">
        <div class = "col"><label for="ChatName" class="form-label">Add Member</label>
            <div class="input-group">
              <input type="text" class="form-control" id="memberInput" placeholder="Enter Member Name">
            </div>
            <button type="button" id="addMemberButton" class="btn btn-primary" onclick="addMember()" id="addMemberButton">Add</button></div>
        <div class="col">
            Owner: {{ owner }} </br> Display Name: {{owner.display_name}}</br></br>
        {% for user in chat_members %}
            {% if user != owner %}
                Username: {{ user }} </br> Display Name: {{user.display_name}}</br></br>
            {% endif %}
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}