{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    Members
{% endblock %}

{% block includes_block %}
{% endblock %}

{% block content_title %}
{{chat_name}} - Members
{% if current_user == owner %}
<div class="btn-group float-right" role="group" aria-label="Chat Buttons">
    <a class="btn btn-primary" href="{% url 'chat:members' chat_name_slug %}">Members</a>
    <a class="btn btn-primary" href="{% url 'chat:files' chat_name_slug %}">Files</a>
    <a class="btn btn-primary" href="#" onclick = "return confirm('Are you sure you want to delete?')">Delete Chat</a>
</div>
{% else %}
<div class="btn-group float-right" role="group" aria-label="Chat Buttons">
    <a class="btn btn-primary" href="{% url 'chat:members' chat_name_slug %}">Members</a>
    <a class="btn btn-primary" href="{% url 'chat:files' chat_name_slug %}">Files</a>
    <a class="btn btn-primary" href="{% url 'chat:leave' chat_name_slug %}" onclick = "return confirm('Are you sure you want to leave?')">Leave Chat</a>
</div>
{% endif %}
{% endblock %}

{% block body_block %}
    <a href="#" class = "urlbuttons">{{owner}}</a> </br>
    Owner: {{ owner }} </br> Display Name: {{owner.display_name}}</br></br>
    {% for user in chat_members %}
        {% if user != owner %}
            Username: {{ user }} </br> Display Name: {{user.display_name}}</br></br>
        {% endif %}
    {% endfor %}
{% endblock %}