{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block content_title %}
<nav class="navbar bg-tertiary w-100">
    <div class="container-fluid">
        <h2 class="text-light" href="#">My Profile - {{current_user}}</h2>
    </div>
  </nav>
{% endblock %}

{% block content_block %}
<div class="container-fluid box-size">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            {% if current_user.picture %}
            <img  class = "card-img-top rounded object-fit-cover" width="100px" height="200px" src="{{current_user.picture.url}}"alt = "chat image">
        </div>
            {% else %}
                <img src="{% static 'images/classhat.jpg' %}" class="card-img-top rounded object-fit-cover" alt="" width="200px" height="200px"></div>
            {% endif %}

        <div class="col membercol">
            <ul style="list-style-type:none; font-size:30px">
                <li>Name: {{current_user}}</li>
                <li>Display name: {{current_user.display_name}}</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-between align-items-center g-2">
        <div class="col">
            <div class="input-group mb-3">

            </div>
        <div class="col align-items-center">
            <form method="post">
                <input type="hidden" name="form_type" value="display_name_form">
                {% csrf_token %}
                {{ display_name_form.as_p }}
                <input type="submit" value="Submit" class ="btn btn-secondary" />
            </form>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="pic_form">
                {% csrf_token %}
                {{ pic_form.as_p }}
                <input type="submit" value="Submit" class ="btn btn-secondary" />
            </form>
        <a class="btn btn-danger d-block" href="{% url 'chat:delete_account' %}" onclick = "return confirm('Are you sure you want to delete?')">Delete Account</a>
        </div>
    </div>
</div>
{% endblock %}
