{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block content_title %}
<nav class="navbar bg-tertiary w-100">
    <div class="container-fluid">
        <h2 class="text-light" href="#">My Profile - {{current_user}}</h2>
    </div>
  </nav>
{% endblock %}

{% block content_block %}
<div class="container-fluid box-size">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            {% if current_user.picture %}
            <img class="rounded-circle ms-2" width="200" height="200" src="{{current_user.picture.url}}"alt = "chat image">
        </div>
        {% else %}
        <img src="{% static 'images/classhat.jpg' %}" class="card-img-top rounded object-fit-cover" alt="" width="200px" height="200px"></div>
            {% endif %}

        <div class="col membercol">
            <ul style="list-style-type:none; font-size:30px">
                <li>Name: {{current_user}}</li>
                <li>Display name: {{current_user.display_name}}</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-between align-items-center g-2">
        <div class="col align-items-center">
            <form method="post">
                <div class="input-group">
                <input type="hidden" name="form_type" value="display_name_form">
                {% csrf_token %}
                {{ display_name_form }}
                <input type="submit" value="Submit" class ="btn btn-secondary mt-2" />
                </div>
            </form>
            <form method="post" enctype="multipart/form-data">
                <div class="input-group">
                <input type="hidden" name="form_type" value="pic_form">
                {% csrf_token %}
                {{ pic_form }}
                <input type="submit" value="Submit" class ="btn btn-secondary mt-2" />

                </div>
            </form>
        <a class="btn btn-danger d-block mt-5" href="#" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</a>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to delete your account?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
        <a type="button" class="btn btn-danger" href="{% url 'chat:delete_account' %}">Delete Account</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
