{% extends 'chat/chattemplates.html'%}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block content_title %}
My Profile - {{current_user}}
{% endblock %}

{% block content_block %}
<div class="container-fluid box-size">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <img src="{% static 'images/classhat.jpg' %}" class="img-fluid rounded-top" alt="" height="auto" width = "auto"></div>
        <div class="col membercol">
            <ul class = "ultext">
                <li>Name</li>
                <li>Display name</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-between align-items-center g-2">
        <div class="col">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter a new display name">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Change</button>
            </div>
        <div class="col align-items-center">
        <button type="submit" onclick="return confirm('Are You sure You want to Delete Your Account?')" class="btn btn-danger d-block">Delete Account</button>
        </div>
    </div>
</div>
{% endblock %}
