{% extends 'chat/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock%}

{% block includes_block %}
<link rel="stylesheet" href="{% static 'styles/auth.css' %}">
{% endblock %}

{% block body_block %}
<main class="form-signin w-100 m-auto text-center">
    <div class="card bg-primary">
        <div class="card-body">
            <form id="login_form" method="post" action="{% url 'chat:signup' %}">
                {% csrf_token %}
                <img class="mb-4" src="{% static '/images/no_words_logo.png'%}" alt="" width="70" height="70">
                <h1 class="h3 mb-3 fw-normal">Sign up</h1>
                <div class="form-floating">
                  <input name="username" type="text" class="form-control bg-secondary text-light mb-1 border-primary-subtle" id="floatingInput" placeholder="Username" required="" autocomplete="off">
                  <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                  <input name="display_name" type="text" class="form-control bg-secondary text-light mb-1 border-primary-subtle" id="floatingInput" placeholder="Username" required="" autocomplete="off">
                  <label for="floatingInput">Display Name</label>
                </div>
                <div class="form-floating">
                  <input name="password" type="password" class="form-control bg-secondary text-light mb-2 border-primary-subtle" id="floatingPassword" placeholder="Password" required="" autocomplete="off">
                  <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-outline-light" type="submit">Sign up</button>
                <span class="login-text">Already have an account? <a href="{% url 'chat:login' %}" class="text-light">Log in.<a></span>
            </form>
        </div>
    </div>
</main>
{% endblock %}
