:root{
    --main-col:#6e8fc8;
    --main-col-light:#91b1f7;
    --light-shadow-col:#7fa4e6;
    --dark-shadow-col:#5e7aaa;
    --text-col:#ffffff;
}

.floating {
    box-shadow:  8px 8px 30px hsla(120,0%,50%,0.5),
             -8px -8px 30px hsla(120,0%,100%,0.5);
}

.raised {
    box-shadow:  6px 6px 12px var(--dark-shadow-col),
                -6px -6px 12px var(--light-shadow-col);
}

.depressed {
    box-shadow: inset 5px 5px 14px var(--dark-shadow-col),
                inset -5px -5px 14px var(--light-shadow-col);
}

*.main-bg {
    background-color: var(--main-col);
}

.my-col{
    background-color: #6e8fc8;
    height:100vh;
    padding:10px;
    font-size:x-large;
}

.content-col{
    padding:10px;
    background-color: #ffff;
    color:#6e8fc8;
}
.urlbuttons{
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 7.5px;
    border: 1px solid;
    border-radius: 50px;
    border-color: white ;
    background-color: white;
    font-size: large;
    box-shadow:  2px 2px 4px var(--dark-shadow-col),
    -2px -2px 4px var(--light-shadow-col);
}

.line{
    border-bottom: 1px solid #ffff;
    display: block;
}

button {
    border-radius: 1rem;
    background: var(--main-col);
    border: none;
    color: var(--text-col);
    font-size: 1.2rem;
    transition: 150ms;
}

button:hover {
    background-color: var(--main-col-light);
    box-shadow:  10px 10px 15px var(--dark-shadow-col),
             -10px -10px 15px var(--light-shadow-col);
    transition: box-shadow 150ms;
}

button:active {
    background-color: var(--main-col);
    box-shadow:  none;
    border: none;
    transition: box-shadow 10ms;
}
