
.grid-container-element {
    display: grid; 
    grid-template-columns: 20% 80%;
    height: 90%;
    grid-template-rows: 100% 100%;
    grid-gap: None; 
} 
.gird-child-mychats { 
    padding: 10px;
    text-align: center;
    background-color: var(--main-col);
}

.gird-child-myclasses { 
    padding: 7px;
    background-color: white;
}


.urlbuttons{
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 7.5px;
    border: 1px solid;
    border-radius: 50px;
    border-color: white ;
    background-color: white;
    font-size: large;
    text-align: center;
    box-shadow:  2px 2px 4px var(--dark-shadow-col),
    -2px -2px 4px var(--light-shadow-col);
}

.grid_myClasses{
    color:rgb(0, 0, 0);
    display: grid; 
    grid-gap: 18px;
    margin-left:5px;
    margin-right: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.grid-child-myclassicon{
    background-color: var(--main-col-light);
    padding:5px;
    border-radius: 10px;
    text-align: center;
    box-shadow:  2px 2px 4px var(--dark-shadow-col),
    -2px -2px 4px var(--light-shadow-col);
}

.imagebackground{
    border:2px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
}

.imgchat {
    height :96px;
    width:auto;
}

.classname{
    color : var(--main-col);
    background-color: white;
    border:1px solid white;
    border-radius: 20px;
}
